# Ignore directories and files
__pycache__/
*.py[co]
config.yml
config.yml.save
pwcode
build/release/*
deps/editor/*
deps/editor/config/backups/*
deps/editor/config/buffers/*
deps/jars/*
deps/java.linux/*
deps/java.windows/*
deps/python/*
projects/*

# exceptions to above rule
!.gitignore
!projects/tmp/.gitkeep
!deps/jars/.gitkeep
!deps/python/.gitkeep
!deps/editor/config 
